@import "tailwindcss";

@layer theme {
  :root {
    /* Fonts */
    --font-aladin: "Aladin", cursive;
    --font-carme: "Carme", sans-serif;

    /* Colors */
    --color-hp-gold: #d4af37;
    --color-hp-red: #7f0909;
    --color-hp-green: #1a472a;
    --color-hp-blue: #0e1a40;
  }
}

@layer utilities {
  .font-aladin {
    font-family: var(--font-aladin);
  }

  .font-carme {
    font-family: var(--font-carme);
  }

  .text-hp-gold {
    color: var(--color-hp-gold);
  }

  .text-hp-redish {
    color: var(--color-hp-red);
  }

  .bg-hp-green {
    background-color: var(--color-hp-green);
  }

  .bg-hp-blue {
    background-color: var(--color-hp-blue);
  }
}
